body{
    color: rgb(30, 16, 78);
    text-align: center;
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70%;
    border: 1px solid;
    margin: 10px;
}


h1{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}