body{
    text-align: justify;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 10px;
}
#cabecera{
    background-color: #18383f;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}

#post{
    color: #ffff;
    background-color: #388f95;
    padding: 10px;
}

h1{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Footer{
    background: #18383f;
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}